@import '~node_modules/modern-normalize/modern-normalize.css';
body{
    font-family: Roboto, sans-serif;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
img{
    max-width: 100%;
    display: block;
    height: auto;
}